h4, h5, h6,
h1, h2, h3{margin: 0;}
ul, ol{margin: 0;}
p{margin: 0;}
html, body{font-family:"微软雅黑",'Roboto-Regular'; font-size: 100%; background:#fff;}
a{text-decoration: none;}
a:hover{text-decoration: none; color:#00538e; transition: 0.5s all; -webkit-transition: 0.5s all; -moz-transition: 0.5s all; -o-transition: 0.5s all;}
ul,li{ list-style:none;}









/*--header--*/
.header-logo{display:none;}
.bannermain{}
.bannermain a{ text-decoration:none;font-family:"微软雅黑",'Roboto-Regular';}
.img01{background:url(../images/img01.png) center no-repeat;  width:100%; height:203px; float:left; margin:90px 0 0 0;}
.img02{background:url(../images/img02.png) center no-repeat;   width:100%; height:116px; float:left; margin:60px 0 0 0;}
.img03{background:url(../images/img03.png) center no-repeat;  width:100%; height:324px; float:left; margin:-230px 0 0 0px;}
.p11 { width:100%; font-size:16px; color:#fff; text-align:center; line-height:30px; float:left; margin:-60px 0 0 0;}
.bg12{ width:100%; text-align:center; float:left; margin:30px 0 0 0; font-size:18px;}
.bg12 span{ width:50%; float:left;}
.button-11 {
	background-color:#ffea00;
	color:#414146;
	border:none;
	transition:all 0.3s ease 0s;
	-webkit-transition-duration:0.3s;
	-webkit-transition-timing-function:ease;
	display:block;
	float:right; 
	margin:0 10px;
	padding:9px 70px;
}
.button-12 {
	background-color:#0eb468;
	color:#fff;
	border:none;
	transition:all 0.3s ease 0s;
	-webkit-transition-duration:0.3s;
	-webkit-transition-timing-function:ease;
	display:block;
	float:left; 
	margin:0 10px;
	padding:9px 70px;
}
.button-11:hover,.button-12:hover {
	background-color:#535961;
	color:#fff;
	transition:all 0.3s ease 0s;
	-webkit-transition-duration:0.3s;
	-webkit-transition-timing-function:ease
}



.bann02-1{background:url(../images/banner/bann02-1.png) center no-repeat;  width:100%; height:76px; float:left; margin:220px 0 0 0;}
.bann02-2{background:url(../images/banner/bann02-2.png) center no-repeat;   width:100%; height:30px; float:left; margin:60px 0 0 0;}
.bann02-3{background:url(../images/banner/bann02-3.png) center no-repeat;  width:100%; height:194px; float:left; margin:-130px 0 0 0px;}


.bann04-1{background:url(../images/banner/bann04-1.png) center no-repeat;  width:100%; height:209px; margin:240px 0 0 -250px;}
.bann03-1{background:url(../images/banner/bann03-1.png) center no-repeat;  width:100%; height:139px; margin:-550px 0 0 -500px;}
.bann03-2{background:url(../images/banner/bann03-2.png) center no-repeat;  width:100%; height:129px; margin:-165px 0 0 235px;}
.bann03-3{background:url(../images/banner/bann03-3.png) center no-repeat;  width:100%; height:129px; margin:323px 0 0 -565px;}
.bann03-4{background:url(../images/banner/bann03-4.png) center no-repeat;  width:100%; height:139px; margin:-175px 0 0 205px;}
.bann03-5{background:url(../images/banner/bann03-5.png) center no-repeat;  width:100%; height:600px; margin:50px 0 0 -150px;}


.bg4-1{background:url(../images/bg4-1.png) center no-repeat;  width:100%; height:111px; float:left; margin:125px 0 0 10px;}
.bg4-2{background:url(../images/bg4-2.png) center no-repeat;   width:100%; height:29px; float:left; margin:-110px 0 0 -190px;}
.bg4-3{background:url(../images/bg4-3.png) center no-repeat;  width:100%; height:33px; float:left; margin:-60px 0 0 -190px;}
.bg4-4{background:url(../images/bg4-4.png) center no-repeat;  width:100%; height:45px; float:left; margin:0px 0 0 -190px;}
.bg4-5{background:url(../images/bg4-5.png) center no-repeat;  width:100%; height:300px; float:left; margin:-228px 0 0 350px;}



.bann-bottom h1{font-size: 3em; color: #fff; font-family: 'PatuaOne-Regular';}
.bann-bottom p{font-size: 1.4em; color:#fff; margin: 0.3em 0em 0em 0em;}
.bann-main{padding: 4em 0em 0em 0em; width: 45%; margin: 0 auto;}

.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/*----*/
.top-nav span.menu:before{content: url(../images/menu.png)no-repeat;cursor:pointer;width:100%;}
.top-nav span.menu{display:none;}
.bann-bottom{text-align: center; padding: 16em 0em 0em 0em;}
span.glyphicon.glyphicon-education{color: #fc5c5c; font-size: 2.5em; background: #FFF; width: 60px; height: 60px; border-radius: 33px; padding: 0.2em 0em 0em 0em;}
span.glyphicon.glyphicon-star-empty{color: #fc5c5c; font-size: 2.5em; background: #FFF; width: 60px; height: 60px; border-radius: 33px; padding: 0.27em 0em 0em 0.15em;}
span.glyphicon.glyphicon-star-empty:hover{color: #fff; transform: rotateY(360deg); transition: .5s all; -webkit-transition: .5s all; -moz-transition: .5s all; -o-transition: .5s all; -ms-transition: .5s all;}
span.glyphicon.glyphicon-tree-deciduous{color: #fc5c5c; font-size: 2.5em; background: #FFF; width: 60px; height: 60px; border-radius: 33px; padding: 0.25em 0em 0em 0.05em;}
span.glyphicon.glyphicon-tree-deciduous:hover{color: #fff; transform: rotateY(360deg); transition: .5s all; -webkit-transition: .5s all; -moz-transition: .5s all; -o-transition: .5s all; -ms-transition: .5s all;}
.bann-grid h4{font-size: 1em; color: #fff; margin: 1em 0em 0em 0em; font-family: 'PatuaOne-Regular';}
/*----*/


/*--banner-info--*/
.banner-info{padding:2em 0em 0em 0em; }
.bann-info-left p{font-size: 0.95em; line-height: 1.8em; color: #1d2b41; margin: 1em 0em 0em 0em;}


/*--we work--*/
.we-work{padding: 3em 0em 4em 0em;}
.we-work-top{text-align: center; padding: 0em 0em 3em 0em;}
.we-work-top h3{font-size: 2.5em; color: #fc5c5c; margin-bottom: 0.5em; font-family: 'PatuaOne-Regular';}
.we-work-top p{font-size: 0.95em; color: #909090; line-height: 1.8em; width: 60%; margin: auto;}
.we-work-right p{font-size: 0.95em; color:#909090; line-height: 1.9em; margin: 0.9em 0em 0em 0em;}


/*--features--*/

.features-top{text-align: center; padding: 0em 0em 2em 0em;}
.features-top p{color:#a6a6a6; font-size:1.125em; padding:0.7em 0em 0.7em 0em;}
.features-top h3{font-size: 2.5em; color: #a6a6a6; margin-bottom: 0.5em; font-family: 'PatuaOne-Regular';}
.feature-grid h4{font-size: 1.3em; color: #a6a6a6; margin: 0.7em 0em 0.2em 0em;}
.feature-grid p{font-size: 0.95em; color:#a6a6a6; line-height: 1.8em; }


/*--footer--*/
.footer{background:#222222; padding:2em 0em; min-height:280px; color:#888888; line-height:30px; padding-top:35px; font-size:0.93em;}
.footer a{ color:#888888;}
.footer a:hover{ text-decoration:none;}
.footer-left{float:left; width:600px; margin-left:25px;}
.footer-left p{ margin:20px 0; clear:both;}
.footer-left p a{ padding:0 1.5em; display:block; float:left; border-right:1px solid #838383; height:16px; line-height:16px; margin:0 0 35px 0;}
.footer-left p a:hover{color:#2d8acb;}
.footer-left p a:first-child{ padding-left:0;}
.footer-left p a:last-child{ border-right:none;}
.footer-left .a4{ background:url(../images/400-888-88881.png) no-repeat; background-size:cover; min-width:221px; display:block; float:left; height:50px; border:none;  margin:0 30px 0px 0; }
.footer-left .a4:hover{ background:url(../images/400-888-88881-h.png) no-repeat;}
.footer-left .a5{ background:url(../images/may8@live.png) no-repeat; background-size:cover; min-width:239px; height:50px; border-right:none 0px;   margin:0 0 0px 0;}
.footer-left .a5:hover{ background:url(../images/may8@live-h.png) no-repeat;}
.footer-right{ float:right; text-align:center; border-left:1px solid #434343; padding:30px 10px; margin-top:20px;}
.footer-right ul li{ display:block; float:left; margin:0 10px;width:80px; float:left; display:block; text-align:center;}
.footer-right ul li .a1{ background:url(../images/icon-05.png) center no-repeat; width:100%; height:64px; display:block; float:left; margin-bottom:10px;}
.footer-right ul li .a1:hover{ background:url(../images/icon-05-h.png) center no-repeat;}
.footer-right ul li .a2{ background:url(../images/icon-06.png) center no-repeat; width:100%; height:64px; display:block; float:left; margin-bottom:10px;}
.footer-right ul li .a2:hover{ background:url(../images/icon-06-h.png) center no-repeat;}
.footer-right ul li .a3{ background:url(../images/icon-07.png ) center no-repeat; width:100%; height:64px; display:block; float:left; margin-bottom:10px;}
.footer-right ul li .a3:hover{ background:url(../images/icon-07-h.png) center no-repeat;}



.content{ width:1200px;  margin:auto;}

/*----*/
.top{ height:113px; overflow:hidden;}
.top-menu{position:relative;}
.top-menu .top-logo{background:url(../images/logo.png) no-repeat;  background-size:cover; width:448px; height:113px; float:left; display:block; margin-left:10px;}
.top-menu .top-logo a{width:100%; height:100%; display:block;}
.top-menu .English{ background:url(../images/ICO-E.png) left no-repeat; padding-left:40px; position:absolute; top:16px; right:20px;}
.top-menu ul{ float:right; margin-top:55px; display:block;  text-align:right; }
.top-menu ul li{display: inline-block; text-align:right;}
.top-menu ul li a:hover,.top-menu ul li.active a{color:#00538e;}
.top-menu ul li a:hover,.top-menu ul li a:focus{outline: none;}
.top-menu ul li a.now{color:#00538e; border-bottom:2px solid #00538e;}
.top-menu ul li a{
	position:relative; 
	display:inline-block; 
	outline:none; 
	color:#222222; 
	text-decoration:none; 
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size:18px;
	margin:0 18px;
	padding:0 2px 10px 2px;
	vertical-align: middle;
	}
	
	
.feature-grid{ width:360px; height:240px; margin:10px;}
.banner-info-main{ width:1000px; margin:0 auto;}
.lxbox{ padding-left:70px; margin-bottom:30px; float:left;}
.lxbox-1{ width:345px; height:260px; background:url(../images/lxbox-1.png) no-repeat; margin:40px 0 0 0px;}
.lxbox-2{ width:344px; height:260px; background:url(../images/lxbox-2.png) no-repeat; margin:40px 0 0 -6px;}
.lxbox-3{ width:321px; height:260px; background:url(../images/lxbox-3.png) no-repeat; margin:40px 0 0 -6px;}
.lxbox-1:hover{ width:345px; height:260px; background:url(../images/lxbox-1-hover.png) no-repeat; }
.lxbox-2:hover{ width:344px; height:260px; background:url(../images/lxbox-2-hover.png) no-repeat; }
.lxbox-3:hover{ width:321px; height:260px; background:url(../images/lxbox-3-hover.png) no-repeat; }
.lxbox-1:hover p,.lxbox-2:hover p,.lxbox-3:hover p{color:#fff; }
.lxbox-1 p{ margin:150px 55px 10px 15px;}
.lxbox-2 p{ margin:150px 50px 10px 20px;}
.lxbox-3 p{ margin:150px 50px 10px 20px;}


.header{ height:720px; overflow:hidden;}
.bann01{ background: url(../images/banner/banner01.jpg)no-repeat center; background-size: cover;}
.bann02{ background: url(../images/banner/banner02.jpg)no-repeat center; background-size: cover;}
.bann03{ background: url(../images/banner/banner03.jpg)no-repeat center; background-size: cover;}
.bann04{ background: url(../images/banner/banner04.jpg)no-repeat center; background-size: cover;}

.bg1{background:url(../images/bg-01.jpg) center no-repeat; background-size:cover; min-height:758px;  padding:80px 0 0 0; }
.bg2{background:url(../images/bg-02.jpg) center no-repeat; background-size:cover; height:523px; padding:58px 0 0 0; }
.bg3{background:url(../images/bg-03.jpg) center; background-size:cover; height:897px; padding:0 0 0 0; margin: 20px 0; box-shadow: 0 0 5px gray; }
.bg4{background:url(../images/bg-04.jpg) center no-repeat; background-size:cover; height:421px; padding:0px 0 0 0; overflow:hidden; }
.bg5{background:url(../images/bg-05.jpg) center no-repeat; background-size:cover; height:983px; padding:160px 0 0 0; }
.bg6{background:url(../images/bg-06.jpg) center no-repeat; background-size:cover; min-height:849px; padding:96px 0 0 0; }
.bg7{background:url(../images/bg-07.jpg) center no-repeat; background-size:cover; min-height:1341px; padding:150px 0 0 0; }



.liyou-left{ width:50%; float:left; height:865px; border-right:1px dashed #0eb468; margin-top:10px; padding:0px 0 20px 0;}
.liyou-right{ width:50%; float:left; margin-top:10px;  padding:0px 0 20px 28px;}
.liyou-left ul li{ text-align:right; margin:20px 30px 10px 0px;display:block; float:right;}
.liyou-right ul li{ text-align:left; margin:20px 0 10px 0px; display:block; float:left;}
.liyou-left h4,.liyou-right h4{ font-size:18px; color:#059653; line-height:30px; margin-bottom:10px;}
.liyou-left p,.liyou-right p{ font-size:14px; color:#757575; line-height:24px; margin:5px;}



.fuwujigou .bam-01{ float:right; font-size:18px; color:#fff; width:700px; height:50px; line-height:50px; display:block;}
.fuwujigou .bam-02{ float:right; font-size:18px; color:#fff; width:700px;}
.fuwujigou .bam-03{ float:right; font-size:18px; color:#fff; width:700px;}

.liucheng{text-align: center; font-size:24px; line-height:30px; color:#49bf82; min-height:92px; padding:10px 0 0 0; background:url(../images/liucheng.png) center no-repeat;}
.liucheng a{font-size: 1em; color: #0eb468;  padding: 0.5em 3.0em; border:2px solid #0eb468;}
.liucheng a:hover{text-decoration:none;}



.lc-1{ width:270px; height:120px; margin:60px 0 0 35px;}
.lc-2{ width:270px; height:120px; margin:60px 0 0 30px;}
.lc-3{ width:270px; height:120px; margin:60px 0 0 40px;}
.lc-4{ width:270px; height:120px; margin:75px 0 0 35px;}
.lc-5{ width:270px; height:120px; margin:75px 0 0 30px;}
.lc-6{ width:270px; height:120px; margin:75px 0 0 40px;}
.lc-7{ width:270px; height:120px; margin:85px 0 0 35px;}
.lc-8{ width:270px; height:120px; margin:85px 0 0 30px;}
.lc-9{ width:270px; height:120px; margin:85px 0 0 40px;}
.lc-1 img,.lc-2 img,.lc-3 img,.lc-4 img,.lc-5 img,.lc-6 img,.lc-7 img,.lc-8 img,.lc-9 img{ margin-left:25px; margin-bottom:20px;}
.lc-1 p,.lc-2 p,.lc-3 p,.lc-4 p,.lc-5 p,.lc-6 p,.lc-7 p,.lc-8 p,.lc-9 p{ line-height:24px; font-size:14px; color:#334054;}



.kecheng{ padding-left:110px;}
.bann-info-btn{text-align:center; margin:50px auto auto auto;}
.bann-info-btn a{ color: #0eb468;  padding: 0.5em 3.0em; border:2px solid #0eb468; font-size:18px;}
.bann-info-btn a:hover{text-decoration:none;}
.bann-info-btn1{text-align:center; margin:1.4em 0em 0em 0em;}
.bann-info-btn1 a{font-size:24px; color: #fff100;  padding:7px 50px; border:1px dashed #0eb468;}
.bann-info-btn1 a:hover{text-decoration:none; background:#0eb468; border:1px dashed #0eb468;}
.button {
	color:#414146;
	border:none;
	transition:all 0.3s ease 0s;
	-webkit-transition-duration:0.3s;
	-webkit-transition-timing-function:ease;
	text-align:center; 
	 margin:0 10px;
}
.button:hover {
	border:2px solid #535961;
	background-color:#535961;
	color:#fff;
	transition:all 0.3s ease 0s;
	-webkit-transition-duration:0.3s;
	-webkit-transition-timing-function:ease
}



/*环境展示*/
.case_a_cont{ width:100%}
.case_a_cont a{	display:block; width:350px; height:233px; margin:15px; float:left; 	position:relative; overflow:hidden; text-align:center; -webkit-border-radius:6px;
-moz-border-radius:6px;
-ms-border-radius:6px;
-o-border-radius:6px;
border-radius:6px}
.case_a_cont a p{height:170px; position:absolute;	width:100%; left:0; bottom:30px; color:#fff;	z-index:9}
.case_a_cont a p span{color:#fff; font-size:1.5em; display:block; height:30px; line-height:30px; }
.case_a_cont a p font{color:#fff; font-size:0.875em; height:30px; line-height:30px;	}
.case_a_cont a b{background:#000; filter:alpha(opacity=40); opacity:0.4; display:block;	width:100%; height:240px; position:absolute; left:0; bottom:-120px;}
.case_a_cont a:last-child{ background: url(../images/f9.jpg) no-repeat #0eb468; }
.case_a_cont a:last-child img{ width:78px; height:23px; margin:108px 141px;}
.example-image-link{display:inline-block;line-height:0;
-webkit-transition:background-color 0.1s ease-out;-moz-transition:background-color 0.1s ease-out;-o-transition:background-color 0.1s ease-out;
transition:background-color 0.1s ease-out;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px}
/*.example-image-link:hover{background-color:#4ae}*/
.example-image{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px}




.gsservice{background:url(../images/xiankuang.png) center no-repeat;  overflow:hidden;}
.gsservice .gsdiv-1{ width:500px; height:125px; float:left;}
.gsservice .gsdiv-1 img{ float:left; width:80px; height:80px;}
.gsservice .gsdiv-1 p{ float:left; width:350px; height:100px; margin:10px 0 5px 15px; line-height:30px;}

.choose-us h1{
	text-align: center;
	margin-bottom: 20px;
}
#order_nav {  
	position: relative;
	margin-bottom: 20px;
}
#order_nav .list { margin:40px 0 0 196px; }
#order_nav .list li { width: 500px; height: 125px; float: left; position: relative; cursor: pointer; -webkit-transition: .4s all; -moz-transition: .4s all; -ms-transition: .4s all; transition: .4s all; }
#order_nav .list li a { display: block; width:80px; height:80px; }
#order_nav .list li .cycle_mark { position: absolute; left: 0; top: 0; z-index: 2; }
#order_nav .list li .ico { width: 80px; height:80px; position: absolute; left: 7px; top: 7px; border-radius: 50%; z-index: 1; -webkit-transition: .4s all; -moz-transition: .4s all; -ms-transition: .4s all; transition: .4s all; }
#order_nav .list li ._1 { background:  url(../images/icon-01.png) no-repeat;}
#order_nav .list li ._2 { background:  url(../images/icon-02.png) no-repeat;}
#order_nav .list li ._3 { background:  url(../images/icon-03.png) no-repeat;}
#order_nav .list li ._4 { background:  url(../images/icon-04.png) no-repeat;}
#order_nav .list li p { float:left; width:350px; height:100px; margin:10px 0 5px 105px; line-height:30px;}
#order_nav .list li p span { font-size: 16px; color: #414141; display: block;  }
#order_nav .list li.on { }
#order_nav .list li.on .ico { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
#order_nav .list li.on  .-1{ background:  url(../images/icon-01-hover.png) no-repeat;}
#order_nav .list li.on  .-2{ background:  url(../images/icon-02-hover.png) no-repeat;}
#order_nav .list li.on  .-3{ background:  url(../images/icon-03-hover.png) no-repeat;}
#order_nav .list li.on  .-4{ background:  url(../images/icon-04-hover.png) no-repeat;}


.zxcase{ font-size:18px; color:#fff; float:right;  height:100px;}
.zxcase p span{ color:#fff100;}
.zxcase p{ height:30px; float:left; display:block; text-align:left; margin:0px 0 0 60px;}
.zx-1 b{ background:url(../images/zx-1.png) no-repeat; width:100%; height:50px; display:block; float:left;}
.zx-2 b{ background:url(../images/zx-2.png) no-repeat; width:100%; height:50px; display:block; float:left;}
.zx-3 b{ background:url(../images/zx-3.png) no-repeat; width:100%; height:50px; display:block; float:left;}
.zx-1{ margin:0 80px 10px 0;}
.zx-2{ margin:0 115px 10px 0;}
.zx-3{ margin:0 210px 10px 0;}












@media(max-width:1440px){}
@media(max-width:1366px){
	}
@media(max-width:1280px){
	.content{ width:1100px;}
	.kecheng{ padding-left:50px;}
	.header{height: 685px;}
	.top-menu ul li a{padding:0 20px;}
	.top-menu .top-logo a{ position:absolute; width:100%; height:100%; display:block;}
	.top-menu ul li a{padding:0 20px;		}
	.zx-1{ margin:0 60px 10px 0;}
	.zx-2{ margin:0 95px 10px 0;}
	.zx-3{ margin:0 190px 10px 0;}
	#order_nav .list { margin:40px 0 0 20px; }
	.case_a_cont a{width:325px; height:217px; margin:18px; }
	.case_a_cont a:last-child img{margin:100px 130px;}


}
@media(max-width:1024px){
	
	.content{ width:980px; }
	.kecheng{ padding-left:0px;}
	.lxbox{ padding-left:20px; }
	.bg7{ height:1150px;}
	/*--top--*/
	.top{height:94px;}
	.top-menu .top-logo{width:373px; height:94px;}
	.top-menu .English{padding-left:40px; position:absolute; top:10px; right:15px;}
.top-menu ul{ float:right; margin-top:45px; display:block;  text-align:right; }
.top-menu ul li a{
	font-size:16px;
	padding:0 15px;
	}
	
		
	
	/*--banner--*/
	.header{height:580px;}
	
	.img01{min-height:184px; margin:70px 0 0 0;}
	.img02{min-height:44px; margin:50px 0 0 0;}
	.img03{min-height:293px; margin:-150px 0 0 -60px;}
	.p11 {font-size:16px;  line-height:26px; margin:-150px 0 0 0;}
	.bg12{ margin:-60px 0 0 0; font-size:16px;}
	.button-11 {margin:0 10px;	padding:7px 60px;}
	.button-12 {margin:0 10px; padding:7px 60px;}




	.lxbox-1{ width:321px; height:260px; background:url(../images/x-1-n.png) no-repeat; margin:40px 0 0 0px;}
	.lxbox-2{ width:320px; height:260px; background:url(../images/x-2-n.png) no-repeat; margin:40px 0 0 -6px;}
	.lxbox-3{ width:297px; height:260px; background:url(../images/x-3-n.png) no-repeat; margin:40px 0 0 -6px;}
	.lxbox-1:hover{ width:321px; height:260px; background:url(../images/x-1-h.png) no-repeat; }
	.lxbox-2:hover{ width:320px; height:260px; background:url(../images/x-2-h.png) no-repeat; }
	.lxbox-3:hover{ width:297px; height:260px; background:url(../images/x-3-h.png) no-repeat; }
	.lxbox-1:hover p,.lxbox-2:hover p,.lxbox-3:hover p{color:#fff; }
	.lxbox-1 p{ margin:150px 55px 10px 15px; display:block; float:left;}
	.lxbox-2 p{ margin:150px 50px 10px 20px; display:block; float:left;}
	.lxbox-3 p{ margin:150px 50px 10px 20px; display:block; float:left;}
	
	
	.zx-1{ margin:0 -5px 10px 0;}
	.zx-2{ margin:0 25px 10px 0;}
	.zx-3{ margin:0 125px 10px 0;}
	
	.lc-1{margin:60px 0 0 55px;}
	.lc-2{margin:60px 0 0 30px;}
	.lc-3{margin:60px 0 0 40px;}
	.lc-4{margin:75px 0 0 55px;}
	.lc-5{margin:75px 0 0 30px;}
	.lc-6{margin:75px 0 0 40px;}
	.lc-7{margin:85px 0 0 55px;}
	.lc-8{margin:85px 0 0 30px;}
	.lc-9{margin:85px 0 0 40px;}
	
	.case_a_cont a{width:275px; height:183px; margin:18px; }
	.case_a_cont a:last-child img{margin:80px 100px;}
	
	.footer-left{float:left; min-width:500px; margin-left:10px;}
	.footer-left p{ margin:20px 0;}
	.footer-left p a{ padding:0 15px;}
	.footer-right{ padding:30px 5px;}
	.footer-right ul li{margin:0 5px;}
	
	
	.gsservice{background:url(../images/xiankuang.png) center no-repeat; background-size:cover;  overflow:hidden; height:335px;}

	#order_nav {  position: relative;}
	#order_nav .list { margin:60px 0 0 -20px; }
	#order_nav .list li {float: left; position: relative; cursor: pointer; width:480px; }
	#order_nav .list li a { display: block; width:80px; height:80px; }
	#order_nav .list li .cycle_mark { position: absolute; left: 0; top: 0; z-index: 2; }
	#order_nav .list li .ico { width: 80px; height:80px; position: absolute; left: 7px; top: 7px; border-radius: 50%; z-index: 1; -webkit-transition: .4s all; -moz-transition: .4s all; -ms-transition: .4s all; transition: .4s all; }
	
	#order_nav .list li p { float:left; width:350px; height:100px; margin:10px 0 5px 105px; line-height:30px;}
	#order_nav .list li p span { font-size: 16px; color: #414141; display: block;  }

	

.liyou-left{ padding:40px 0 20px 0;}
.liyou-right{padding:40px 0 20px 0;}
.liyou-left ul li{ margin:10px 20px 10px 0px;display:block; float:right;}
.liyou-right ul li{ margin:10px 0 10px 0px; display:block; float:left;}
.liyou-left p,.liyou-right p{ font-size:14px; color:#757575; line-height:24px; margin:5px;}



}
@media(max-width:768px){

	.content{ width:750px; }
.lc-1{ width:220px; height:120px; margin:60px 0 0 0px;}
.lc-2{ width:220px; height:120px; margin:60px 0 0 30px;}
.lc-3{ width:220px; height:120px; margin:60px 0 0 40px;}
.lc-4{ width:220px; height:120px; margin:75px 0 0 0px;}
.lc-5{ width:220px; height:120px; margin:75px 0 0 30px;}
.lc-6{ width:220px; height:120px; margin:75px 0 0 40px;}
.lc-7{ width:220px; height:120px; margin:85px 0 0 0px;}
.lc-8{ width:220px; height:120px; margin:85px 0 0 30px;}
.lc-9{ width:220px; height:120px; margin:85px 0 0 40px;}
.lc-1 img,.lc-2 img,.lc-3 img,.lc-4 img,.lc-5 img,.lc-6 img,.lc-7 img,.lc-8 img,.lc-9 img{ margin-left:25px; margin-bottom:20px;}
.lc-1 p,.lc-2 p,.lc-3 p,.lc-4 p,.lc-5 p,.lc-6 p,.lc-7 p,.lc-8 p,.lc-9 p{ line-height:24px; font-size:14px; color:#334054;}

 .top-menu{display:none;}
.header-logo{display:block;}
.logo{float:left;}
.top-nav{float: right;}
span.menu{display: block;text-align: center;padding: 0px 0px 0px 0px;cursor: pointer;color: #E74C3C;font-size: 16px;font-weight: 700;position:relative;}
.top-nav span.menu{display:block;}
.top-nav ul{display: none;position: absolute;width: 100%;z-index: 9999;left: 0%;margin: 3.7em 0;background:#00538e;}
.top-nav span.icon{display: block;width: 100%;position: relative;cursor: pointer;padding: 2em 0em 0em 0em;}
.top-nav ul li,.top-nav ul li.active{display: block;padding: 0.5em 0;text-align: center;}
.top-nav ul li a,.top-nav ul li.active a{color:#fff;border: none;padding: 0;background:none;margin: 0.3em 1em;text-decoration:none;}
.top-nav ul li a:hover{color:#000;}
.bann-grid{float: left; width: 33.3%;}
.bann-main{width: 50%; padding: 2.5em 0em 0em 0em;}
.bann-bottom h1{font-size: 2.5em;}
.bann-bottom{padding: 5em 0em 0em 0em;}
.header{min-height: 480px;}
.bann-info-left{float: left; width: 50%;}
.bann-info-left p{font-size: 0.8em;}
.bann-info-btn a{font-size: 0.8em;}


}
@media(max-width:640px){
	.header{min-height: 375px;}
	.img01{min-width:340px; min-height:113px; top:40px; left:130px;}
	.img02{min-width:281px; min-height:27px; top:180px; left:150px;}
	.img03{min-width:428px; min-height:180px; top:120px; left:80px;}
	.p11 {height:60px; font-size:12px; top:230px; line-height:20px;}
	.bg12{width:100%; height:377px; top:310px; }
	.button-11 {width:110px; height:30px; line-height:30px; font-size:14px; margin:0 15px 0 180px;}
	.button-12 {width:110px; height:30px; line-height:30px; font-size:14px; margin:0 10px;}
	
	.bann-main{width: 80%;}
	.bann-bottom h1{font-size: 2.2em;}
	.bann-bottom p{font-size: 1.05em;}
	.header{min-height: 375px;}
	.bann-bottom{padding: 2.5em 0em 0em 0em;}
	.testimonal-main h2{font-size: 1.7em;}
	.testimonal-main p{width: 100%; font-size: 0.9em;}
	.testimonal{min-height: 250px; padding: 2em 0em;}
	.ftr-grid-left{padding: 0.5em 0.5em;}
	.gallery-top p{width: 100%; font-size: 0.9em;}
	
	
	.footer-left{float:left; width:100%; margin:0 10px;}
	.footer-left p{ margin:20px 0;}
	.footer-left p a{ padding:0 15px;}
	.footer-right{ width:100%; padding:30px 0px; border:none;}
	.footer-right ul li{margin:0 0px;}


}
@media(max-width:480px){
	body{ font-size:1em;}
	
	.header{min-height: 290px;}
	.img01{min-width:255px; min-height:85px; top:30px; left:80px;}
	.img02{min-width:211px; min-height:20px; top:130px; left:100px;}
	.img03{min-width:321px; min-height:135px; top:100px; left:40px;}
	.p11 {height:60px; font-size:8px; top:160px; line-height:18px;}
	.bg12{width:100%; top:250px; }
	.button-11 {width:100px; height:24px; line-height:24px; font-size:12px; margin:0 15px 0 100px;}
	.button-12 {width:100px; height:24px; line-height:24px; font-size:12px; margin:0 10px;}



	.footer-left{float:left; width:100%; margin:0 10px;}
	.footer-left p{ margin:20px 0;}
	.footer-left p a{ padding:0 15px;}
	.footer-right{ width:100%; padding:30px 0px; border:none;}
	.footer-right ul li{margin:0 0px;}

}


@media(max-width:320px){
	.header{min-height: 240px;}
	.header-main{padding: 0em 0em 1em 0em;}
	.bann-grid{padding: 0px;}
	.bann-grid h4{font-size: 0.8em;}
	.bann-bottom h1{font-size: 1.2em;}
	.bann-main{padding: 1em 0em 0em 0em;}
	.header-main{padding: 0em 0em 1em 0em;}
	span.icon img{width: 75%;}
	.top-nav span.icon{padding: 20px 0px 0px 0px;}
	

	
	.footer-left{float:left; width:100%; margin:0 10px;}
	.footer-left p{ margin:20px 0;}
	.footer-left p a{ padding:0 15px;}
	.footer-right{ padding:30px 0px; border:none;}
	.footer-right ul li{margin:0 0px;}

}






