
.niwenwoda .nav-btn{
    margin-top: 4%;
    margin-left: 4%;
    margin-bottom: 20px;
}
.niwenwoda .nav-btn button{
    font-size: 18px;

}
.niwenwoda .content-2 .luntan{
    display: none;
}

.info-detail {
    background: url("../../public/img/detail-bg.png") center no-repeat;
    opacity: 90%;
    height: 350px;
    margin-top: -17px;
    padding: 60px;
    position: relative;
}

.info-detail .head-img {
    width: 175px;
    margin-left: 10%;
}

.info-detail .head-info {
    color: white;
}

.info-detail .head-info .info-left {
    width: 40%;
    float: left;
}

.info-detail .head-info .inner-tags strong {
    margin-right: 10px;
}

.info-detail .head-info .inner-tags span {
    color: inherit;
    display: inline-block;
    height: 26px;
    padding: 0 6px;
    margin-right: 6px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 4px;
}

.info-detail .head-info .inner-tags span:hover {
    background: #c0c0c0;
    opacity: 90%;
    cursor: pointer;
}

.info-detail .head-info .button-radius {
    margin-top: 10px;
    color: #fff;
    text-align: center;
}

.info-detail .head-info .button-radius:first-child {
    margin-right: 10%;
}


.info-detail .head-info h3 {
    margin-top: 10px;
    margin-bottom: 0;
}

.info-detail .head-info .button-radius button {
    width: 45px;
    height: 45px;
    color: #4b6fed;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 100%;
    margin-bottom: 20px;
}

.info-detail .heart {
    position: absolute;
    bottom: 5%;
    right: 15%;
    color: #ffffff;
    background-color: #000;
    opacity: 0.8;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px #fff;
}

.info-detail .heart p i {
    margin-right: 5px;
    cursor: pointer;
}

.info-detail .heart-1, .info-detail .heart-3 {
    width: 175px;
    height: 60px;
    line-height: 60px;
}

.info-detail .heart-2 {
    width: 260px;
    height: 150px;
}

.info-detail .heart-2 p {
    margin-top: 15px;
    margin-bottom: 5px;
}

.info-detail .heart-2 button {
    margin-top: 5px;
}


/*视频+多tab导航*/
.vedio-tabnav {
    position: relative;
}

.vedio-tabnav .nav-tabs {
    position: absolute;
    z-index: 5;
    top: -47px;
    left: 15%;
}

.vedio-tabnav .nav-tabs li a {
    margin: 0;
    border-left: 1px solid silver;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.vedio-tabnav .nav-tabs li a:hover {
    /*color: #ED2E7C;*/
    background-color: #2d8acb;
    cursor: pointer;
    /*border-color: #fff;*/
}

.h-underline {
    height: 2px;
    background-color: #2d8acb;
    width: 97px
}

.vedio-tabnav .content-title {
    /*margin-left: 10%;*/
    padding-left: 3%;
    margin-bottom: 20px;
}

.gongsifengcai .content-body {
    /*margin-bottom: 30px;*/
}

.gongsifengcai .content-body .swiper-slide img:hover {
    cursor: pointer;
}

.gongsifengcai .content-body .body-left {
    float: left;
    width: 70%;
    height: 583px;
}

.gongsifengcai .content-body .body-right {
    float: left;
    width: 30%;
    height: 630px;
    padding-top: 5px;
}

.gongsifengcai .content-body .body-right img, #bg-swiper-2 img {
    width: 70%;
    height: 100%;
}

#bg-swiper, #bg-swiper-2 {
    height: 583px;
    background-color: #000000;
    text-align: center;
    position: relative;
    padding: 40px 0;
}

#left-jian-tou, #left-jian-tou-2 {
    transform: rotate(90deg);
    position: absolute;
    top: 20px;
    left: 45%;
}

#right-jiantou, #right-jiantou-2 {
    transform: rotate(90deg);
    position: absolute;
    top: 563px;
    right: 45%;
}

.underline-video {
    background-color: #fff;
    height: 1px;
    margin: 0 auto;
    width: 70%;
}

#video-swiper, #video-swiper-2 {
    height: 500px;
}

#video-swiper .swiper-wrapper, #video-swiper-2 .swiper-wrapper {
    height: 583px;
    color: #ffffff;
}

#video-swiper .swiper-wrapper .swiper-slide p,
#video-swiper-2 .swiper-wrapper .swiper-slide p {
    text-align: left;
    padding-left: 50px;
    margin: 0;
}

.vedio-tabnav .vedio-play {
    height: 438px;
    margin: 5px 10px;
}

.vedio-tabnav .vedio-picture {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}


.gongsijianjie .content-title {
    /*margin-top: 20px;*/
    /*float: left;*/
}

.gongsijianjie .content-body {
    width: 70%;
    margin: 2px 10px;
}

.gongsijianjie .content-body .about-banner {
    display: flex;
    justify-content: space-between;
    height: 424px;
    padding: 50px 55px;
    margin-bottom: 50px;
    background: url("../../public/img/bg-gongsijianjie.png");
    box-shadow: 0 2px 8px 0 rgba(165, 180, 189, 0.3);
}

.gongsijianjie .content-body .about-banner .about-banner__num {
    width: 240px;
    padding-top: 38px;
}

.gongsijianjie .content-body .about-banner .about-banner__num .num-box {
    display: flex;
    flex-wrap: wrap;
}

.gongsijianjie .content-body .about-banner .about-banner__num .num-box .num-box__item {
    width: 50%;
    margin-bottom: 33px;
    text-align: center;
}

.gongsijianjie .content-body .about-banner .about-banner__num .num-box .num-box__item h2 {
    height: 54px;
    font-size: 36px;
    font-style: italic;
    color: #fff;
}

.gongsijianjie .content-body .about-banner .about-banner__num .num-box .num-box__item p {
    font-size: 12px;
    color: #fff;
}


.gongsijianjie .content-body .about-banner .about-banner__num .num-info {
    display: flex;
    color: #05cbf9;
}

.gongsijianjie .content-body .about-banner .about-banner__num .num-info .star-icon {
    width: 14px;
    height: 13px;
    margin-top: 4px;
    margin-right: 9px;
}

.gongsijianjie .content-body .about-banner .about-banner__info {
    width: 422px;
    height: 323px;
    padding: 23px 25px;
    overflow: hidden;
    color: #fff;
    background: rgba(77, 101, 122, 0.36);
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.gongsijianjie .content-body .about-banner .about-banner__info .about-banner-inner {
    /*width: 414px;*/
    height: 280px;
    overflow-y: auto;
    scrollbar-width: none;
}

.gongsijianjie .content-body .about-banner .about-banner__info .about-banner-inner::-webkit-scrollbar {
    display: none;
}

.gongsijianjie .content-body .about-banner .about-banner__info .about-banner-inner p {
    line-height: 28px;
}

.gongsijianjie .content-body .about-banner .about-banner__info .about-banner-inner > p:not(:last-child) {
    margin-bottom: 10px;
}

.gongsijianjie .content-body .about-banner .about-banner__info .about-banner-inner .about-link {
    text-align: right;
}

.gongsijianjie .content-body .about-banner .about-banner__info .about-banner-inner .about-link a {
    color: #05cbf9;
}

/* 名人校友 */
.mingrenxiaoyou .content-body {
    width: 70%;
    margin: 2px 10px;
}

#swiper {
    padding: 10px;
    box-shadow: 0 0 5px #2a6496;
}

.mingrenxiaoyou .content-body .swiper-slide {
    margin: 0 auto;
    text-align: center;
}

.mingrenxiaoyou .content-body .swiper-slide img {
    width: 110px;
    height: 110px;
    margin-top: 15px;
}

.mingrenxiaoyou .content-body .swiper-slide p {
    text-align: center;
    margin-top: 10px;
}

/*周围环境*/
.zhouweihuanjing .content-body {
    /*width: 70%;*/
    margin: 2px 10px;
}

.zhouweihuanjing .content-body .container-fluid .col-md-6 p {
    margin-top: 5px;
}

.zhouweihuanjing .content-body .container-fluid .col-md-6 .p-underline {
    height: 1px;
    width: 100%;
    background-color: #c0c0c0;
}

/* 第二模块 专业优势 即.hangyeyoushi*/
.hangyeyoushi .xialkuang,
.hangyeyoushi .div-underline,
.hangyeyoushi .result-total,
.hangyeyoushi .result-list,
.hangyeyoushi .more-list {
    height: 80px;
    float: left;
    width: 70%;
}

.hangyeyoushi .result-total .alert-success {
    margin-top: 5px;
    line-height: 35px;
    font-size: 18px;
    font-weight: bold;

}

.hangyeyoushi .result-list {
    box-shadow: 0 0 3px #000000;
    margin-bottom: 10px;
}

.hangyeyoushi .result-list:hover {
    background-color: silver;
}

.hangyeyoushi .result-list .container-fluid,
.hangyeyoushi .result-list .container-fluid .row,
.hangyeyoushi .result-list .result-left,
.hangyeyoushi .result-list .result-content,
.hangyeyoushi .result-list .result-checkbox {
    height: 80px;
}

.hangyeyoushi .result-list .result-left {
    height: 80px;
    line-height: 80px;
    font-weight: bold;
    text-align: center;
}

.hangyeyoushi .result-list .result-content {
    text-align: center;
    line-height: 80px;
}

.hangyeyoushi .result-list .result-content button {
    margin-right: 15px;
}

.hangyeyoushi .result-list .result-checkbox {
    text-align: center;
    line-height: 80px;

}

.hangyeyoushi .result-list .result-checkbox input {
    height: 22px;
    width: 22px;
    line-height: 80px;
}

.hangyeyoushi .result-list .result-checkbox input:hover {
    cursor: pointer;
}

.hangyeyoushi .more-list {
    text-align: center;
    line-height: 80px;
}


/* 名企名友  先不删，你问我答用*/
.mingqimingyou {
    width: 90%;
    margin: 0 auto;
}

.mingqimingyou .media {
    box-shadow: 0 0 5px silver;
    margin: 10px;
    padding: 10px;
}

.mingqimingyou .media .media-left {
    width: 10%;
    height: 10%;
}

.mingqimingyou .media .media-body {
    line-height: 30px;
}

.mingqimingyou .media .media-body h4 {
    margin: 8px;
    font-weight: bold;
    color: #000;
}

.mingqimingyou .media .media-body p {
    margin-bottom: 5px;
}


/* 往年历史 */

/* 周边环境 */
.environment {
    text-align: center;
}

/*滚动一定距离后头部样式*/
#top {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 67;
    background-color: #333;
    display: none;
    padding-left: 10%;
    line-height: 50px;
    border-radius: 2px;
}

.top-button {
    float: left;
    width: 9%;
    border-radius: 2px;
    margin: 5px 10px;
    background-color: #fff;
    text-align: center;
}

.top-button i {
    color: #959595;
}

#top1, #top2, #top3 {
    font-size: 16px;
    cursor: pointer;
}

#top4 {
    cursor: pointer;
}

#top5 {
    display: none;
    position: relative;
}

#follow {
    width: 300px;
    color: #ffffff;
    position: absolute;
    left: 100px;
    top: 0px;
}

#apply {
    position: absolute;
    left: 350px;
    top: -2px;
}

/************************************/
#swiper-vedio .swiper-wrapper .swiper-slide {
    position: relative;
}

#swiper-vedio .swiper-wrapper .swiper-slide .img-info {
    position: absolute;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden; /* 隐藏旋转元素的背面*/
    backface-visibility: hidden;
    background: rgba(0, 0, 0, 0.6); /*后面这个0.6是指的背景的透明度*/
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out; /*规定提示信息怎样出现ease-in-out以慢速度开始和结束*/
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

#swiper-vedio .swiper-wrapper .swiper-slide:hover .img-info {
    opacity: 1;
}

/*******/
#swiper-vedio-2 .swiper-wrapper .swiper-slide {
    position: relative;
}

#swiper-vedio-2 .swiper-wrapper .swiper-slide .img-info2 {
    position: absolute;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden; /* 隐藏旋转元素的背面*/
    backface-visibility: hidden;
    background: rgba(0, 0, 0, 0.6); /*后面这个0.6是指的背景的透明度*/
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out; /*规定提示信息怎样出现ease-in-out以慢速度开始和结束*/
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

#swiper-vedio-2 .swiper-wrapper .swiper-slide:hover .img-info2 {
    opacity: 1;
}


/* part-你问我答 */
.niwenwoda {
    position: relative;
}

.c-sidebar {
    width: 30%;
    position: absolute;
    top: 4.5%;
    right: 10%;
}

.c-list {
    height: 783px;
}

/*.c-list .c-news .c-item__container:hover{*/
/*    color: red;*/
/*}*/

.niwenwoda .c-list__content ul.list--bare {
    margin: 40px 0 0 4%;
    padding: 0;
    list-style: none;
    width: 51%;
}

.niwenwoda .c-list__content ul.list--bare li {
    list-style: none;
}
.niwenwoda .c-list__content ul.list--bare li:hover{
    color: #a2002a;
}

.niwenwoda .c-list__content ul.list--bare li .c-item {
    position: relative;
}

.niwenwoda .c-list__content ul.list--bare li .c-item .c-item__link {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.niwenwoda .c-list__content ul.list--bare li .c-item .c-item__container {
    margin-bottom: .75rem;
    padding: 1.125rem .75rem;
    pointer-events: all;
    display: flex;
    flex: 1 0 auto;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .15), 0 3px 6px rgba(0, 0, 0, .2);
    transition: all 350ms cubic-bezier(.445, .05, .55, .95);
}

.niwenwoda a:focus, a:hover {
    color: #a2002a;
}

.niwenwoda .c-list__content ul.list--bare li .c-item .c-item__link:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .15), 5px 5px 15px rgba(0, 0, 0, .4);
    color: #cd3930;
}

.niwenwoda .c-list__content ul.list--bare li .c-item .c-item__container .c-item__data {
    flex-shrink: 0;
    font-size: .875rem;
    padding-right: .75rem;
}

.niwenwoda .c-list__content ul.list--bare li .c-item .c-item__container .c-item__contentcontainer {
    display: flex;
    flex: 0 1 auto;
    align-items: flex-start;
}

.niwenwoda .c-list__content ul.list--bare li .c-item .c-item__container .c-item__contentcontainer .c-item__image {
    flex-shrink: 0;
    height: 75px;
    width: 75px;
    margin-right: .75rem;
}

.c-item__image img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    border-style: none;
}

.c-item__content {
    flex-grow: 1;
}

.c-item__content .title {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: .5rem;
}

.c-item__content p:last-of-type {
    margin-bottom: 0;
}

.c-item__content p {
    margin-bottom: 2rem;
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

.block-page-list {
    margin-right: 0;
    /*height: 704px;*/
    margin-bottom: 14px;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #e3e3e3;
    float: right;
}

.block-page-list > .news, .block-page-list > .events {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    position: relative;
    width: 100%;
}

.block-page-list h2 {
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 10px;
}

.block-page-list ul, .block-page-list ul li {
    list-style-type: none;
}

.block-page-list ul {
    margin: 0;
    padding: 0;
    list-style: inside;
}

.block-page-list div.news ul li {
    padding-right: 5px;
}

.block-page-list ul li {
    position: relative;
    font-size: 12px;
    margin-bottom: 20px;
}

.block-page-list div.news ul li > .publication-date {
    margin: 0 0 0 28px;
    color: #03a1da;
    font-weight: bold;
}

.block-page-list div.news ul li > .publication-date > span {
    font-size: 14px;
    border-bottom: 1px solid #03a1da;
    transition: border-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.block-page-list div.news ul li .finalist-home-news-event-title {
    margin-left: 28px;
}

.block-page-list div.news ul li .finalist-home-news-event-title h3 a {
    line-height: 21px;
    font-size: 16px;
    font-weight: normal;
    color: #011b3c;
    border-bottom: 1px solid white;
    transition: border-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    text-decoration: none;
    cursor: pointer;
    word-wrap: break-word;
}

.block-page-list > .events {
    margin-top: 15px;
    position: static;
}

.block-page-list div.events ul li {
    padding-right: 5px;
}

.block-page-list > .events li {
    position: relative;
    min-height: 78px;
}

.block-page-list ul li {
    position: relative;
    font-size: 12px;
    margin-bottom: 20px;
}

.block-page-list div.events ul li .wrapper-event {
    min-height: 70px;
    color: #03a1da;
    font-weight: bold;
}

.block-page-list div.events ul li .date, .block-page-list div.events ul li .views-field-field-date {
    color: #011b3c;
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
}

.block-page-wrapper .block-page-list div.events ul li .date .agendavakje {
    z-index: 1;
}

.block-page-list div.events ul li .date .agendavakje {
    background-color: white;
    width: 60px;
    box-shadow: none;
    border-radius: 2px;
    display: block;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.block-page-list div.events ul li .date .agendadate {
    background-color: white;
    height: 32px;
    padding-top: 2px;
    border-top: 6px solid #011b3c;
    font-size: 23px;
    font-weight: 100;
    display: block;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.block-page-list div.events ul li .date {
    color: #011b3c;
}

.block-page-list div.events ul li .date .agendamonth {
    background-color: white;
    padding-bottom: 2px;
    font-size: 17px;
    font-weight: 100;
    display: block;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.block-page-list div.events ul li .date .agendayear {
    display: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.block-page-list div.events ul li .wrapper-event h3 {
    margin: 0px 0 0 28px;
    padding-right: 10px;
    font-size: 137.5%;
    line-height: 105%;
}

.block-page-list div.events ul li .wrapper-event h3 a {
    line-height: 21px;
    font-size: 14px;
    color: #03a1da;
    font-weight: bold;
    border-bottom: 1px solid #03a1da;
    transition: border-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    text-decoration: none;
    cursor: pointer;
    word-wrap: break-word;
}

.block-page-list div.events ul li .wrapper-event .introduction {
    margin-left: 28px;
    line-height: 18px;
    margin-top: 4px;
}

.introduction {
    max-width: 684px;
}

.block-page-list div.events ul li .wrapper-event .introduction span {
    line-height: 22px;
    font-size: 16px;
    color: #011b3c;
    font-weight: normal;
    border-bottom: 1px solid white;
    transition: border-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.block-page-list .news ul li i,
.block-page-list .events ul li i {
    color: #000;
    border-radius: 3px;
    margin-right: 10px;
    position: absolute;
    top: 4px;
    left: 0px;
    font-size: 15px;
}

.niwenwoda .c-publish {
    width: 40%;
    display: none;
    margin-left: 5%;
    margin-top: 65px;
    border: 2px solid #8e8e8e;
}
.niwenwoda .c-publish .text-danger{
    width: 93%;
    margin: 0 auto;
}
.niwenwoda .c-publish .ty{
    display: block;
    -webkit-margin-before: 12px;
    -webkit-margin-after: -9px;
    -webkit-margin-start: 16px;
    -webkit-margin-end: 0px;
}
.niwenwoda .c-publish .bg-primary {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

.niwenwoda .c-publish .btn-lg {
    margin: 5px auto;
    display: block;
}
.publish-btn-relative .btn-publish button{
    margin-top: -60%;
    width: 230px;
}

.niwenwoda .content-2{
    position: relative;;
}
.niwenwoda .content-2 .sidebar-2 {
    /*position: absolute;*/
    top: 15%;
    padding: 5px;
    margin: 15px auto;
    /*text-align: center;*/
    box-shadow: 0 0 5px #000;
    right: 10%;
    height: 237px;
    overflow: hidden;
}
.niwenwoda .content-2 .sidebar-2 .swiper-slide{
    height: 40px;
}

.niwenwoda .content-2 .sidebar-2 .swiper-slide p {
    margin-top: 5px;
    color: #a2002a;
    font-size: 16px;
}
.form-horizontal .form-group{
    width: 98%;
    margin: 10px auto;
}
.form-horizontal .form-group #input1,#input2,#label1,#label3{
    padding: 0;
    margin: 0;
}
#label3{
    margin-left: -15px;
}
.help-block{
    display: block;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-left: 322px;
}
.form-horizontal .form-group .col-sm-10{
    margin-top: 10px;
}



.head-picture img{
    display: block;
    margin: 10px auto;
}